.newsboxWrapper {
  background: linear-gradient(180deg, hsla(144, 89%, 22%, 1) 4%, hsla(0, 0%, 100%, 1) 100%);
  height: 80vh;
  position: relative; 
  padding: 0;

  img {
    width: 100%; 
    max-width: 80%; 
    margin: 0 auto; 
    display: block;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 100%);
  }

  .articleWrapper {
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    width: 80%;
    max-width: 1200px;
    overflow: hidden; 
    box-sizing: border-box; 
    height: 280px;
  }

  .articleSection {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;

      .firstWord {
        margin-right: 5px;
        
        &::after {
          content: '-';
          margin-left: 5px;
        }
      }

      .restTitle {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
        color: #119B1E;
      }
    }

    p {
      margin-top: 10px;
      margin-bottom: 50px;

    }

    img {
      width: 5%;
      margin-left: 0;
      top: 75%;
      z-index: 9999;
      position: fixed;
    }
  }
}
