.footer {
    background-image: url(../../assets//Images//FooterBg.png);
    background-repeat: no-repeat;
    height: auto;
    background-size: 100%;
    display: flex;
    justify-content: space-evenly;
    section {
        padding: 100px;
        margin-top: 10%;
    }
}
