.articles {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 60px 60px 0px 60px;
    gap: 2rem;
    div {
        img {
            width: 312px;
            max-height: 186px;
        }
    }
    div {
        display: flex;
        flex-direction: column;
    }
}

